{% extends "base.html" %}
{% block title %}Изменить email{% endblock %}
{% block content %}
    <h1>Изменить email</h1>
    <form action="{{ url_for('change_email') }}" method="post"> <!-- метод пост для отправки формы -->
        {{ form.hidden_tag() }} <!-- скрытое поле для отправки формы  -->
        <div>
            {{ form.email.label }}
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}